{% extends 'base.html.twig' %}

{% block title %} Welcome{% endblock %}

{% block body %}

    <div class="bgimg-1 w3-display-container w3-grayscale-min" >
        <div class="w3-display-left w3-text-white" >

        </div>
    </div>
{% endblock %}
