<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}


</head>
<body>
{% block header %}
    <div class="w3-top">
        <div class="w3-bar w3-dark w3-card" id="myNavbar"  style=" background-color: #f1efef!important">
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small" style="margin: 10px;">
                <a href="/" class="w3-bar-item w3-button" ><i class="fa fa-home"></i> HOME</a>
                <a href="/terrainn" class=" w3-bar-item w3-button"><i class="fa fa-futbol-o" aria-hidden="true"></i> TERRAIN LIST </a>
                <a href="/reservation" class=" w3-bar-item w3-button"><i class="fa fa-tachometer" aria-hidden="true"></i> RESERVATION </a>
                <a href="register" class="w3-bar-item w3-button" ><i class="fa fa-user"></i> SIGN UP</a>
                <a href="/contactt" class=" w3-bar-item w3-button"><i class="fa fa-envelope-open" aria-hidden="true"></i> CONTACT</a>
                <a href="login" class="w3-bar-item w3-button"><i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN</a>


            </div>


        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}


{% block footer %}
    <footer class="text-center p-4" style=" background-color: #f1efef!important" >

        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.linkedin.com/in/oussama-missaoui98/">OUSSAMA MISSAOUI .</a>



    </footer>
{% endblock %}
</body>
</html>
