{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/contact.css') }}">

 {% endblock %}
{% block title %}New Contact{% endblock %}

{% block body %}
    <div class="cont">

        <div class="center">
            <div class="contact">
                <div class="card" >
                    <h1 class="mt-4">Create new Contact</h1>
<div class="mt-5">
                    {{ include('contact/_form.html.twig') }}</div>
                </div>

            </div>
        </div>


    </div>
{% endblock %}
